.tab:link, .tab:visited {
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.tab:hover, .tab:active {
    background-color: rgb(153, 153, 153);
}

#nav-bar {
    background-color: rgb(93, 98, 99);
    color: rgb(255, 255, 255);
}

#top:link, #top:visited {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#top:hover, #top:active {
    background-color: rgb(93, 98, 99);
    color: #FFFFFF;
}

* {
    font-family: monospace;
}

#top {
    font-size: 35px;
}

pre {
    font-size: 20px;
    color: #555555;
}
